<div class="gba-backorderPopup gba-bop-close"  >
  <div class="container">
  </div>
</div>

<div class="gba-wrapper">
  <!-- <div class="gba-bop-close-button gba-bop-close"><i class="fa fa-times fa-lg"></i></div> -->
  <div id="options">
  <div class="message">
    <p>So many people loved {{product.title}} <br />as much as you that this item is currently on backorder.</p>
    <p>Because we are made in the USA, we are able to make more of your styles in just a few weeks.</p>
  </div>
  <div class="notifyMe">
    <div class="label">{{settings.backorder_form_label}}</div>
    <div class="form">
      <div id="esc-oos-form">
      
      </div>

    </div>
    <!--<div id="closeThis" class="gba-bop-close">Close, I want to keep shopping.</div>-->
  </div>

  </div>
</div>




