<div id="customizeParka">
	customize your boat coat
</div>

<div class="custom_fields">
  <p class="line-item-property__field">
    <label for="your-name">Coat Text</label>
    <input id="parka-text" type="text" name="properties[Boat Coat Text]">
  </p>
  <p class="line-item-property__field">
    <label for="parka-color">Coat Color</label>
    <input required class="required" id="parka-color" type="text" name="properties[Boat Coat Color]">
  </p>   
            <p class="line-item-property__field">
    <label for="text-color">Text Color</label>
    <input required class="required" id="text-color" type="text" name="properties[Text Color]">
  </p>
  
            <p class="line-item-property__field">
    <label for="outline-color">Outline Color</label>
    <input  id="outline-color" type="text" name="properties[Outline Color]">
  </p>  
</div>