<div class="gba-embroideryPopup">
  <div class="wrapper">
    <div class="content">
      <div class="message">
        <div class="accident">
          <p>You've chosen to embroider multiple products with the same initials. Is this correct?</p>
          <a href="#" id="addAll">Yes, I want them all the same</a>
        </div>
        <hr />
        <div class="no-accident">
          <p>To add multiple products with different initials. Please add each one individually</p>
          <a href="#" id="addOne">OK, GO BACK</a>
        </div>
      </div>
    </div>
  </div>
</div>