<div class="tie-dye-popup">
    <div class="tie-dye-popup__wrapper">
        <div class="tie-dye-popup__content">
            <a class="tie-dye-popup__close">{% include 'icon-close'%}</a>
            <h3>These are hand made Tie-Dye garments.<br/><br />Each piece is unique.</h3>
        </div>
    </div>
</div>