<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-banner' %}
{% section 'collection-wrap-pagebuilder' %}
<div class="collectionWrapper">
    {% section 'collection-template' %}
</div>

<style>

  .gba-textElement h1{
  font-size:43px;
  }
</style>