<!-- /templates/page.liquid -->
<div class="dempseyCollection">
<div style="margin-top:5px;">
  	{% section 'page-high_camp' %}
</div>
{% include 'klaviyo-form_high_camp' %}
<div id="mens-collection" class="wrap-container">
	{% section 'page-high_camp_featured_slider' %}  
    <div class="rte">
      {{ page.content }}
    </div>
</div>
</div>




