<!-- /templates/page.liquid -->
<div id="mens-collection">
	{% section 'page-baby_collection' %}
	{% section 'page-baby_collection_featured_products' %}    
  	{% section 'page-baby_collection_featured_products2' %}    
	{% section 'page-baby_collection_slider' %}  

    <div class="rte">
      {{ page.content }}
    </div>
</div>
