<!-- /templates/page.liquid -->
<div id="mens-collection">
	{% section 'page-women_collection' %}
  	{% section 'page-women_collection_featured_products2' %}    
	{% section 'page-women_collection_featured_products' %}  
	{% section 'page-women_collection_slider' %}  

    <div class="rte">
      {{ page.content }}
    </div>
</div>
