<div id="travelers-collection">
  <!-- /templates/page.liquid -->
  <div id="mens-collection">
      {% section 'page-yoga' %}
      {% section 'page-apres-yoga-featured-products' %}
    	
      <div class="rte">
        {{ page.content }}
      </div>
  </div>
</div>