<!-- /templates/page.liquid -->
<div id="mens-collection">
	{% section 'page-mens_collection' %}
  	{% section 'page-mens_collection_featured_products' %}  
  	<div class="mens-collection2">{% section 'page-mens_collection_featured_products2' %}</div>
  	{% section 'page-mens_collection_slider' %}
	{% section 'page-mens_collection2' %}

    <div class="rte">
      {{ page.content }}
    </div>
</div>
