<!-- Start Parallax Container -->
<div id="heroContainer">
  <div id='hero'>
    
    <div class='layer-bg_env-respons layer'></div>
    {% comment %}
    <div class='layer-bg layer' data-depth='0.40' data-type='parallax'></div>
    <div class='layer-2 layer' data-depth='0.10' data-type='parallax'></div>
    <div class='layer-3 layer' data-depth='0.00' data-type='parallax'></div>
    {% endcomment %}

  </div>
  <div id='hero-mobile'></div>
</div>
<!-- End Parallax Container --> 

<div class="gba-afterParallax"> <!-- Required background to stop parallax bleed -->

<!-- /templates/page.liquid -->
<div class="page-main--wrapper">
  <div class="large--two-thirds push--large--one-sixth">

    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>  
  
  
</div>


<!-- Sections -->

{% section 'page-env-respons' %}







<!-- Needs to be added to JS file -->
<script type="application/javascript">
(function() {
  window.addEventListener('scroll', function(event) {
    var depth, i, layer, layers, len, movement, topDistance, translate3d;
    topDistance = this.pageYOffset;
    layers = document.querySelectorAll("[data-type='parallax']");
    for (i = 0, len = layers.length; i < len; i++){
      layer = layers[i];
      depth = layer.getAttribute('data-depth');
      movement = -(topDistance * depth);
      translate3d = movement + 'px';
      layer.style['margin-top'] = translate3d;
      layer.style.transform = translate3d;
    }

  });

}).call(this);
  


  
</script>




<script src="http://brightlabel.co/u/bl.js" language="javascript"></script>
<script>

"use strict";
function popup_bl_tag(bl_tag, bl_pagename="_blank", w=430, h=660){
var l=(screen.width)?(screen.width-w)/2:100;
var t=(screen.height)?(screen.height-h)/2:100;
var settings='width='+w+',height='+h+',top='+t+',left='+l+ ',scrollbars=no,location=no,directories=no,status=no,menubar=no,toolbar=no,resizable=no';
window.open("http://tag.brightlabel.co/"+bl_tag,bl_pagename,settings);
}
  

  
</script>