<!-- /templates/page.liquid -->
<div class="dempseyCollection">
<div style="margin-top:5px;">
  	{% section 'page-ebby_rane' %}
</div>
{% include 'klaviyo-form_ebby_rane' %}
<div id="mens-collection" class="wrap-container">
  	{% section 'page-ebby_rane_slider' %}  
	{% section 'page-ebby_rane_featured_products' %}  
    <div class="rte">
      {{ page.content }}
    </div>
</div>
</div>









