<!-- /templates/page.liquid -->
<div id="mens-collection">
	{% section 'page-best_seller' %}
  	{% section 'page-best_seller_collection_1' %}    
	{% section 'page-best_seller_collection2' %}  
	{% section 'page-best_seller_slider' %}  

    <div class="rte">
      {{ page.content }}
    </div>
</div>
